# See https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 2
    versioning-strategy: increase
    commit-message:
      prefix: "[INFRA] "
      prefix-development: "[INFRA] dev -"
    reviewers:
      - process-analytics/js-lib-collaborators
