# See https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 2
    versioning-strategy: increase
    rebase-strategy: "disabled"
    commit-message:
      prefix: "chore(deps)"
      prefix-development: "chore(deps-dev)"
    labels:
      - dependencies
      - javascript
      - skip-changelog
    reviewers:
      - process-analytics/pa-collaborators
    ignore:
      # eslint v9 requires to first switch to flat configuration
      - dependency-name: "eslint"
      # eslint-plugin-unicorn v57+ requires eslint v9 and flat configuration
      - dependency-name: "eslint-plugin-unicorn"
    groups:
       css:
          patterns:
            - "@tailwindcss/*"
            - "autoprefixer"
            - "cssnano"
            - "postcss*"
            - "tailwindcss"
       jest:
          patterns:
            - "@types/jest-*"
            - "expect-playwright"
            - "jest"
            - "jest-*"
            - "ts-jest"
       lint:
          patterns:
            - "@typescript-eslint/*"
            - "eslint"
            - "eslint-*"
            - "lint-staged"
            - "prettier"
       rollup:
          patterns:
            - "@rollup/*"
            - "rollup"
            - "rollup-plugin-*"
       typescript:
          patterns:
            - "typedoc"
            - "typescript"

  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"
      day: wednesday
    open-pull-requests-limit: 2
    rebase-strategy: "disabled"
    commit-message:
      prefix: "chore(gha)"
    labels:
      - dependencies
      - github_actions
      - skip-changelog
    reviewers:
      - process-analytics/pa-collaborators
