# IDE
/.idea/
*.iml
*.project
*.DS_Store

# Build directories
*.jest-image-snapshot-touched-files
/build/
/dist/
/lib/
/node_modules/
/test/e2e/__image_snapshots__/__diff_output__/
/scripts/utils/dist/

# npm build
*.tgz
# tailwind css generated for demo
/src/static/css/tailwind.css
