# Some jest plugins/extension does not officially support jest@30
# https://github.com/playwright-community/jest-playwright/issues/824
# https://github.com/americanexpress/jest-image-snapshot/issues/371
legacy-peer-deps=true
