.hidden {
    display: none;
}


.controls {
    display: flex;
}

#file-panel {
    flex: 75%;
    padding-left: 25%;
}
.info {
    margin: 0 auto;
    width: 100%;
}

#options-panel {
    flex: 25%;
    position: relative;
}
#options-panel div {
    border-radius: 10px;
    border: 2px solid PowderBlue;
    margin: 15px 10% 5% 5%;
    padding-bottom: 35px;
}
#options-panel > * {
    padding-left: 5%;
}
#options-panel div label {
  padding-top: 5px;
}

#fit-margin {
  width: 30%;
}
label[for=fit-margin] {
  float: left;
}

.fixed-size {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  position: absolute;
  overflow: hidden;
}

/* Buttons */
[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

[type="file"] + label {
    background-color: #000;
    border-radius: 4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #2ecc71;
}

[type="file"]:focus + label {
    outline: 0;
}

.btn {
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #27ae60;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
    font-family: monospace;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}
