/* static/css/styles.css */
/* noinspection CssInvalidAtRule */
@tailwind base;
/* noinspection CssInvalidAtRule */
@tailwind components;
/* noinspection CssInvalidAtRule */
@tailwind utilities;
.testing {
  position: fixed;
  top: 0;
  right: 50%;
  z-index: 999;
  height: 100px;
  width: 100px;
  background-color: #4c1d95;
  border: 5px solid #000000;
  color: #FFF;
}
