name: Build

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/fill-gh-draft-release.yml'
      - '.github/workflows/generate-documentation.yml'
      - '.github/workflows/upload-demo-archive.yml'
      - '.gitignore'
      - 'docs/**'
      - '*.md'
      - LICENSE
  pull_request:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/fill-gh-draft-release.yml'
      - '.github/workflows/generate-documentation.yml'
      - '.github/workflows/upload-demo-archive.yml'
      - '.gitignore'
      - 'docs/**'
      - '*.md'
      - LICENSE
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ${{ matrix.os.name }}
    strategy:
      # we want to run the full build on all os: don't cancel running jobs even if one fails
      fail-fast: false
      matrix:
        # syntax inspired from https://github.community/t5/GitHub-Actions/Using-a-matrix-defined-input-for-a-custom-action/m-p/32032/highlight/true#M988
        os:
          - { name: ubuntu-20.04, coverage: '-- --coverage' }
          - { name: macos-10.15 }
          - { name: windows-2019 }
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Verify node, npm version
        run: |
          node --version
          npm --version
      - name: Install dependencies
        run: npm ci
      - name: Lint check
        run: npm run lint-check
      - name: Build Application
        run: npm run build
      - name: Test Application
        id: 'test_unit'
        run: npm run test:unit ${{ matrix.os.coverage }}
      - name: Upload unit test results
        if: ${{ failure() && steps.test_unit.outcome == 'failure' }}
        uses: actions/upload-artifact@v2
        with:
          name: unit-test-results-${{matrix.os.name}}-${{github.sha}}
          path: build/test-report/unit
      - name: Test Application End to End
        id: 'test_e2e'
        run: npm run test:e2e ${{ matrix.os.coverage }}
      - name: Upload e2e test results
        if: ${{ failure() && steps.test_e2e.outcome == 'failure' }}
        uses: actions/upload-artifact@v2
        with:
          name: e2e-test-results-${{matrix.os.name}}-${{github.sha}}
          path: build/test-report/e2e
      # Ensure we don't break scripts
      - name: Build utils
        run: npm run build-utils

      # No need to run the analysis from all environments
      - name: SonarCloud Scan
        if: ${{ success() && contains(matrix.os.coverage, 'coverage') }}
        uses: SonarSource/sonarcloud-github-action@v1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
