name: 'Dependency Review'
on:
  pull_request:
    paths:
      - '.github/workflows/dependency-review-pr.yml'
      - 'package.json'
      - 'package-lock.json'

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-24.04
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v6
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4
