name: Generate Demo Preview

on:
  pull_request:
    # To manage 'surge-preview' action teardown, add default event types + closed event type
    types: [opened, synchronize, reopened, closed]
    branches:
      - master
    paths:
      - '.github/workflows/generate-demo-preview.yml'
      - 'config/**/*'
      - 'src/**/*'
      - 'package.json'
      - 'postcss.config.js'
      - 'rollup.config.js'
      - 'tailwind.config.js'
      - 'tsconfig.json'

jobs:
  demo_preview:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Publish Demo preview
        id: publish_demo_preview
        uses: afc163/surge-preview@v1
        env:
          # https://playwright.dev/docs/installation/#skip-browser-downloads
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        with:
          surge_token: ${{ secrets.SURGE_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dist: build/demo
          failOnError: true
          teardown: 'true'
          build: |
            npm ci
            npm run demo
