name: Generate Demo Preview

on:
  pull_request:
    # To manage 'surge-preview' action teardown, add default event types + closed event type
    types: [opened, synchronize, reopened, closed]
    branches:
      - master
    paths:
      - '.github/actions/build-setup/**/*'
      - '.github/actions/custom-surge-preview/**/*'
      - '.github/workflows/generate-demo-preview.yml'
      - 'config/**/*'
      - 'dev/**/*'
      - 'scripts/prepare-demo-for-publish.mjs'
      - 'src/**/*'
      - '.nvmrc'
      - 'package.json'
      - 'package-lock.json'
      - 'postcss.config.js'
      - 'tailwind.config.js'
      - 'tsconfig.json'
      - 'vite.config.js'

jobs:
  demo_preview: # keep unique across jobs using surge preview (preview url and PR comment id)
    runs-on: ubuntu-20.04
    permissions:
      pull-requests: write # surge-preview: PR comments
    steps:
      - uses: actions/checkout@v3 # access to the local action
      - name: surge preview
        uses: ./.github/actions/custom-surge-preview
        with:
          artifact-name: demo
          build-preview-command: npm run demo
          build-preview-dist: build/demo
          github-token: ${{ secrets.GITHUB_TOKEN }}
          surge-token: ${{ secrets.SURGE_TOKEN }}
