name: Publish NPM Package
on:
  push:
    tags:
      -  v*
jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: write # required to get token for "npm provenance" and to dispatch event
    steps:
      - name: Set VERSION
        shell: bash
        run: echo "VERSION=${GITHUB_REF#refs/tags/v*}" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - name: Build Setup
        uses: ./.github/actions/build-setup
        with:
          registry-url: 'https://registry.npmjs.org'
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Trigger workflows in charge of notifying other repositories
        uses: peter-evans/repository-dispatch@v3
        with:
          # use the default GITHUB_TOKEN, this is possible because we are dispatching the same repository
          event-type: new_version_available_on_npm
          client-payload: "{ version: ${{ env.version }} }"
