name: Publish NPM Package
on:
  push:
    tags:
      -  v*
jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: write # require to get token for npm provenance and to dispatch event
    steps:
      - uses: actions/checkout@v4
      - name: Build Setup
        uses: ./.github/actions/build-setup
        with:
          registry-url: 'https://registry.npmjs.org'
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Trigger workflows in charge of notifying other repositories
        uses: peter-evans/repository-dispatch@v3
        with:
          # use the default GITHUB_TOKEN, this is possible because we are dispatching the same repository
          event-type: new_version_available_on_npm
          client-payload: '{ "version": "${{ inputs.version }}" }'
      - name: Send message to Slack channel
        if: success()
        uses: slackapi/slack-github-action@v1.26.0
        with:
          channel-id: 'CSF7TG6N5'
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": ":mega: bpmn-visualization Release ${{github.ref_name}}",
                    "emoji": true
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "- <https://github.com/${{github.repository}}/tree/${{github.ref_name}}|Tag> done :heavy_check_mark: \n - Package published on <https://www.npmjs.com/package/bpmn-visualization|NPM> :heavy_check_mark:"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "See the next steps <https://github.com/${{github.repository}}/blob/master/docs/contributors/maintainers.md#github-issues-milestones-and-projects-update|here> :arrow_left:"
                  }
                }
              ]
            }
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
