name: Publish NPM Package
on:
  push:
    tags:
      -  v*
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      # Setup .npmrc file to publish to npm
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        # https://playwright.dev/docs/browsers#installing-browsers
        run: PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=1 npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
