name: Run End-to-End Tests

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/test-e2e.yml'
      - 'src/**/*'
      - 'test/**/*'
      - 'package.json'
      - 'package-lock.json'
      - 'postcss.config.js'
      - 'rollup.config.js'
      - 'tailwind.config.js'
      - 'tsconfig.json'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/test-e2e.yml'
      - 'src/**/*'
      - 'test/**/*'
      - 'package.json'
      - 'package-lock.json'
      - 'postcss.config.js'
      - 'rollup.config.js'
      - 'tailwind.config.js'
      - 'tsconfig.json'

jobs:
  test_e2e:
    runs-on: ${{ matrix.os }}
    strategy:
      # we want to run the full build on all os: don't cancel running jobs even if one fails
      fail-fast: false
      matrix:
        os: [macos-12, ubuntu-20.04, windows-2019]
        browser: [chromium, firefox, chrome]
        include:
          # only test WebKit on macOS
          - os: macos-12
            browser: webkit
          # only test Edge on Windows
          - os: windows-2019
            browser: msedge
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build Setup
        uses: ./.github/actions/build-setup
      # install OS dependencies required by browsers on the GitHub runner
      # to be sure that the browser is correctly installed: https://github.com/microsoft/playwright/issues/5801
      - name: Install ${{matrix.browser}} and its dependencies only
        run: |
          npx playwright install ${{matrix.browser}}
          npx playwright install-deps ${{matrix.browser}}
      - name: Test Application End to End
        id: 'test_e2e'
        env:
          BROWSERS: ${{matrix.browser}}
        run: npm run test:e2e:verbose
      - name: Upload e2e test results
        if: ${{ failure() && steps.test_e2e.outcome == 'failure' }}
        uses: actions/upload-artifact@v3
        with:
          name: e2e-${{matrix.browser}}-test-results-${{matrix.os}}-${{github.sha}}
          path: build/test-report/e2e
