name: Run End-to-End Tests

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/test-e2e.yml'
      - 'src/**/*'
      - 'test/**/*'
      - 'package.json'
      - 'package-lock.json'
      - 'postcss.config.js'
      - 'rollup.config.js'
      - 'tailwind.config.js'
      - 'tsconfig.json'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/test-e2e.yml'
      - 'src/**/*'
      - 'test/**/*'
      - 'package.json'
      - 'package-lock.json'
      - 'postcss.config.js'
      - 'rollup.config.js'
      - 'tailwind.config.js'
      - 'tsconfig.json'

jobs:
  test_e2e:
    runs-on: ${{ matrix.os }}
    strategy:
      # we want to run the full build on all os: don't cancel running jobs even if one fails
      fail-fast: false
      matrix:
        os: [macos-11, ubuntu-20.04, windows-2019]
        browser: [chromium, firefox, chrome]
        include:
          # only test webkit on macos
          - os: macos-11
            browser: webkit
          # only test msedge on windows
          - os: windows-2019
            browser: msedge
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
      - name: Install dependencies
        env:
          # https://playwright.dev/docs/installation/#skip-browser-downloads
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        run: npm ci
      # install OS dependencies required by browsers on the GitHub runner
      # to be sure that the browser is correctly installed: https://github.com/microsoft/playwright/issues/5801
      - name: Install ${{matrix.browser}} and its dependencies only
        run: |
          npx playwright install ${{matrix.browser}}
          npx playwright install-deps ${{matrix.browser}}
      - name: Test Application End to End
        id: 'test_e2e'
        env:
          BROWSERS: ${{matrix.browser}}
        run: npm run test:e2e
      - name: Upload e2e test results
        if: ${{ failure() && steps.test_e2e.outcome == 'failure' }}
        uses: actions/upload-artifact@v2
        with:
          name: e2e-${{matrix.browser}}-test-results-${{matrix.os}}-${{github.sha}}
          path: build/test-report/e2e
