name: Upload Demo Archive & Trigger Examples Repository Update

on:
  push:
    tags:
      -  v*

jobs:
  upload_demo_archive:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        # https://playwright.dev/docs/browsers#installing-browsers
        run: PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=1 npm ci
      - name: Build Demo
        run: npm run demo
      - name: Set ARTIFACT_NAME
        run: echo "ARTIFACT_NAME=demo-${{github.sha}}" >> $GITHUB_ENV
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: build/demo
      - name: Notify bpmn-visualization-examples repository of new BPMN visualization version
        uses: ./.github/actions/notify-PA-repo-of-new-version
        with:
          PA_REPOSITORY: 'bpmn-visualization-examples'
          BUILD_DEMO_WORKFLOW_ID: "upload-demo-archive-and-trigger-examples-repository-update.yml"
          ARTIFACT_NAME: '${{ env.ARTIFACT_NAME }}'
          TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}
