name: Upload Demo Archive & Trigger Examples Repository Update

on:
  repository_dispatch:
    types: [ new_version_available_on_npm ]
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true

jobs:
  upload_demo_archive:
    runs-on: ubuntu-24.04
    env:
      VERSION: ${{ github.event.client_payload.version || inputs.version }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: v${{ env.VERSION }}
      - name: Build Setup
        uses: ./.github/actions/build-setup
      - name: Build Demo
        run: npm run demo
      - name: Set ARTIFACT_NAME
        run: echo "ARTIFACT_NAME=demo-${{github.sha}}" >> $GITHUB_ENV
      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: build/demo/dev/public
      - name: Notify bpmn-visualization-examples repository of new bpmn-visualization version
        uses: ./.github/actions/notify-PA-repo-of-new-version
        with:
          PA_REPOSITORY: 'bpmn-visualization-examples'
          BUILD_DEMO_WORKFLOW_ID: "upload-demo-archive-and-trigger-examples-repository-update.yml"
          ARTIFACT_NAME: '${{ env.ARTIFACT_NAME }}'
          TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}
          VERSION: ${{ env.VERSION }}
